# 4. Set

## Set  
  
Los set en Python son estructuras de datos con las siguientes caracteristicas:  
  
游댯 Aleatorio: Sus elementos no mantienen el orden cuando son declarados 

游릭 Parcialmente inmutables: Los elementos se pueden a침adir, eliminar pero no modificar elementos   

游댯 Parcialmente din치mica: Puede contener diferentes tipos de datos en su interior incluidos objetos y datos multidimensionales adem치s de otros set, pero no puede contener datos que sean mutables como listas o diccionarios 

游릭 Valores 칰nicos: Solo contiene valores 칰nicos

Hacer un set cn tupla  
probar a hacer un set con una lista

In [15]:
#Crear set vacio
set_1 = set()
set_2 = {}

In [16]:
#Crear set 
set_1 = {7, 7, 2, 4, 6, 1}
set_2 = {'Hola', 'esto', 'es', 'un', 'set', 1, 2, 2, 'un'}
print(set_1)
print(set_2)

{1, 2, 4, 6, 7}
{'es', 1, 2, 'Hola', 'un', 'set', 'esto'}

In [17]:
#Creamos un set con lista
list_1 = [1, 2, 2]
set_3 = {list_1}

TypeError: unhashable type: 'list'

In [18]:
#convertimos lista a set
set_3 = set(list_1)
print(set_3)

{1, 2}

In [19]:
#Intentamos acceder a un elemento
print(set_1[0])

TypeError: 'set' object is not subscriptable

In [20]:
#Comprobamos si un valor esta en un set
print('Hola' in set_2)
print(2 in set_2)
print(3 in set_2)

True
True
False

In [21]:
#A침adir elementos
set_2.add(4)
print(set_2)

{'es', 1, 2, 'Hola', 'un', 4, 'set', 'esto'}

In [22]:
#Eliminar elemento
set_2.remove(4)
print(set_2)
set_2.remove(5) #lanza un error
print(set_2)

set_2.discard(4) #no lanza un error
print(set_2)

{'es', 1, 2, 'Hola', 'un', 'set', 'esto'}

KeyError: 5

In [23]:
#Usamos los set como conjuntos
set_4 = set_1.union(set_2)
print(set_4)
set_5 = set_1.intersection(set_2)
print(set_5)

{1, 2, 'Hola', 4, 6, 7, 'esto', 'es', 'un', 'set'}
{1, 2}

In [24]:
#Truco para modificar un set
set_1 = {1, 2, 3}
list_1 = list(set_1)

In [25]:
print(list_1)

[1, 2, 3]