# 1. Hello world y tipos de variables 

#### 1. ¿En que se basa Python?

#### 2. Función print  

#### 3. Hello world!  

#### 4. Tipos de datos

## 👾 ¿En que se basa Python?  
  
Toda su lógica de programación se basa en <b>programación orientada a objetos</b>, por lo tanto tendremos:  
- Variables
- Objetos
- Funciones 
- Métodos 
- Atributos

## 👽 Print

In [1]:
#Para imprimir por pantalla 

print('Hello world')
print(5)
print(6+3)
print(6,34)
print(6.43)

Hello world
5
9
6 34
6.43

In [7]:
print('hola', 'mundo', 45, ',','hggg', a)

hola mundo 45 , hggg Mario

In [4]:
print('hola'+'mundo')

holamundo

In [5]:
a = 'Mario' 
b = 29
print(f'hola, soy {a} y tengo {b} años')

hola, soy Mario y tengo 29 años

In [10]:
a = 45
b = 50 
c= a+b
print(c)

95

In [9]:
print(c)

95

## Comentarios

In [11]:
# Comentario en una linea

In [12]:
#print(a)

In [14]:
''' comentario 
en varias 
lineas y muchas 
mas '''

' comentario \nen varias \nlineas y muchas \nmas '

## 👻 Tipos de variables  
### ¿Qué es una variable?  
Una variable es un espacio de memoria donde guardamos una información, en forma de:  
- INT
- FLOAT
- STRING
- BOOLEANS

#### INT

In [21]:
a = 10
b = 35
type(a)

int

In [23]:
a = 10.76

In [24]:
print(a+b)
print(a*b)
print(a**b)

45.76
376.59999999999997
1.2984627540628719e+36

In [25]:
print(a/b)
print(a//b)
print(a%b)

0.30742857142857144
0.0
10.76

#### Floats

In [28]:
#Decimales
c = 1.1
d = 1.23456
print(type(c))
print(type(d))

<class 'float'>
<class 'float'>

#### String

In [29]:
s1 = 'String'
s2 = 'My string'
s3 = 'string CON NUMEROS, 56'

In [30]:
print(s1)
print(type(s2))
print(len(s3))

String
<class 'str'>
22

In [31]:
s4 = s1 + s2

In [32]:
print(s4)

StringMy string

In [34]:
s5 = s1+'texto '+str(a)
print(s5)

Stringtexto 10.76

In [38]:
a = str(a)
print(a)
print(type(a))
a+b

10.76
<class 'str'>

TypeError: can only concatenate str (not "int") to str

In [39]:
int(s1)

ValueError: invalid literal for int() with base 10: 'String'

In [40]:
int(a)

ValueError: invalid literal for int() with base 10: '10.76'

In [41]:
float(a)

10.76

In [42]:
e = len(s2)
print(e)
print(type(e))

9
<class 'int'>

In [44]:
print((s1+' ')*5)

String String String String String

In [45]:
print(s1[0])
print(s1[1])
print(s1[3])
print(s1[-1])

S
t
i
g

In [46]:
f = ((s1+' ')*5)

In [49]:
print(f[0])
print(f[1])
print(f[17])
print(f[-2])

S
t
i
g

In [50]:
'z' in s1

False

In [51]:
's' in s1

False

In [52]:
print(s1)

String

In [53]:
'S' in s1

True

In [54]:
s6 = s1.lower()

In [56]:
print(s6)
's' in s6

string

True

#### Booleanos

In [58]:
10.00 == str(10)

False

In [60]:
10 == str(10)

False

In [59]:
10.00 == 10

True

In [63]:
print(s1 == s1)
print(s1 != s1)
print(s6 in s2)

True
False
True

#### Practica

In [70]:
nombre = str(input('¿Cual es tu nombre ? '))
edad = int(input('¿Cual es tu edad ? '))
print(f'Me llamo {nombre} y tengo {edad} años')
print(type(nombre))
print(type(edad))

Me llamo 10 y tengo 10 años
<class 'str'>
<class 'int'>

In [72]:
s3 in s6

False

In [80]:
string = str(input('Introduce una palabra')) 
letra = str(input('Introduce la letra a checkear')) 
if ((letra in string) | (len(letra) == 1)): 
    print(f'La letra {letra} está en la string {string}') 
elif (len(letra) > 2): 
    print('no has introducido una letra') 
elif letra != str: 
    print(f'La letra {letra} no es una string ') 
else: 
    print(f'La letra {letra} NO está en la string {string}')

La letra la está en la string hola